
#archidamus:hover{
font-size:large;
  color: rgb(255, 80, 95);
  text-shadow: 4px 4px 8px #FF0000;
}


#camillo:hover{
  font-size: large;
  color: rgb(80, 235, 255);
  text-shadow: 4px 4px 8px #FF0000;
}
p{
  color: black;
  font-size: medium;
  margin-right: 50%;
}

h3:hover{
    font-size: larger;
    color: black;
    background-color:rgb(147, 187, 255);
}

table{
  text-align: center;
  border: 1.5px solid rgb(12, 1, 1);
  color: rgb(5, 49, 36);
  margin: 20px;
  
}

thead {
 
  background-color:rgb(219, 230, 124);
}
thead,tr,td{
  border: 1px solid black;
  padding:5px;
}

